body { height: 100%; font-family: "Lucida Grande", "Helvetica Neue", Calibri, sans-serif; }
h1 { text-align: center; font-size: 13px; font-weight: normal; text-shadow: #FFF 0 1px 0; line-height: 20px; margin: 0 0 -5px 0; }

html { height: 100%; background: #FFF; }
header { border-top: 1px solid #FCFCFC; border-bottom: 1px solid #707070; z-index: 1000; position: relative; }
#main, #sidebar { background: #FFF; top: 70px; bottom: 27px; position: fixed; width: 100%;  }
#main { left: 150px; right: 0; width: auto; }
.scroll { overflow: auto; height: 100%; display: block; }
#main .scroll { overflow-y: scroll; overflow-x: hidden;bottom: 27px; position: fixed; width: auto; right: 0; left: 150px; height: auto; top: 73px; padding-bottom: 17px; }
#sidebar { background: #DADFE8; width: 149px; border-right: 1px solid #BBB; }
#sidebar ul { list-style: none; padding: 0; line-height: 21px; font-size: 11px; padding: 2px 0 0 8px; transition-property: all;
transition-duration:0.4s;
-webkit-transition-property: all;
-webkit-transition-duration:0.4s;
-moz-transition-property: all;
-moz-transition-duration:0.4s;
-o-transition-property: all;
-o-transition-duration:0.4s;}
#sidebar ul ul { padding-left: 14px; padding-top: 0; transition-property: all;
transition-duration:0.4s;
-webkit-transition-property: all;
-webkit-transition-duration:0.4s;
-moz-transition-property: all;
-moz-transition-duration:0.4s;
-o-transition-property: all;
-o-transition-duration:0.4s; }
#sidebar a {
transition-property: all;
transition-duration:0.4s;
-webkit-transition-property: all;
-webkit-transition-duration:0.4s;
-moz-transition-property: all;
-moz-transition-duration:0.4s;
-o-transition-property: all;
-o-transition-duration:0.4s;

 text-decoration: none; color: #000; display: block; line-height: 20px; height: 20px; }
#sidebar li.current a { margin-left: -25px; padding-left: 25px; color: #FFF; text-shadow: rgba(0,0,0,0.5) 0 1px 0;  }
.category { text-transform: uppercase; font-weight: bold; font-size: 11px; color: #627180; text-shadow: #F5F7F9 0 1px 0; }
.small { font-size: 10px; line-height: 1em; }

a.btn { float: left; display: block; height: 34px; width: 34px; margin-right: 3px; border: 1px solid #4F4F4F; border-color: #4F4F4F #626262 #777;  text-decoration: none; text-align: center; margin-top: -1px; -moz-user-select: none; }
#btn-play { padding-left: 4px; }
a.btn:active { border-color: #444; }
a.btn:active span { text-shadow: #DDD 0 1px 0; }
a.btn.small { width: 28px; height: 28px; }
a.btn span { color: #3C3D3E; font-size: 22px; line-height: 34px; text-shadow: #FFF 0 1px 0; }
a.btn.small span { font-size: 13px; letter-spacing: -5px; padding-left: 0; margin-left: -2px; line-height: 28px; }
a.btn.small.prev span { margin-left: -7px; }
a.btn.small.prev { margin-top: 2px; }
a.btn.small.next { margin-top: -7px; }

#head { display: table; margin: 5px 0; min-width: 800px; }
#controls-cell, #volume-cell, #display-cell, #search-cell { display: table-cell; line-height: 10px; padding: 0 20px; vertical-align: middle; }

#volume-cell, #search-cell, #controls-cell { min-width: 105px; }
#display-cell { width: 100%; }

#search-cell { min-width: 150px; }

.volume { top: 10px; }
.vol-down, .vol-up { display: block; float: left; width: 7px; color: #68696A; text-shadow: #E1E2E3 0 1px 0; text-decoration: none; }
.vol-down { margin-right: 5px; }
.vol-up { margin-left: 5px; }
.volume-bar { background: #797A7A; width: 73px; height: 4px; padding: 1px; float: left; }
.volume-bar-on { width: 90%; opacity: 0; background: #E7E9E9; -moz-border-radius: 3px; display: block; height: 4px; -moz-box-shadow: inset 0 -1px 2px rgba(0,0,0,0.25); -webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,0.25); }
.volume-bar-knob { left:100%; opacity: 100% !important; position:relative; display: block; width: 8px; height: 8px; margin: -2px -4px -2px 0; }
.pop {
position:fixed; left:0; top:-80px; width: 100%; height:25px; background: #000; box-shadow: 1px 1px 1px 4px black; z-index: 10000;
transition-property: all;
transition-duration:0.4s;
-webkit-transition-property: all;
-webkit-transition-duration:0.4s;
-moz-transition-property: all;
-moz-transition-duration:0.4s;
-o-transition-property: all;
-o-transition-duration:0.4s;
padding-top: 25px;
}
.pop .poptext {
	position:relative;
	top:0; left:0;
	
	color:white;
	text-shadow: 2px 4px 30px white;
	font-size: xx-large;
	font-family: sans-serif;
}
.display { overflow:hidden; width: auto; border: 1px solid #6B6D5F; color: #4E5045; display: table; width: 100%; padding: 4px 0; -moz-user-select: none; }
.track-info { text-align: center; display: table-cell; width: 100%; }
.track-info h2 { font-size: 11px; margin: 0; line-height: 10px; }
.track-info h3 { font-size: 11px; font-weight: normal; margin: 0; line-height: 13px; }
.track-info .extradisplay { font-size: 11px; font-weight: normal; margin: 0; line-height: 13px; float:middle; clear:none; vertical-align: center; }
.song .format {
	position:relative;
	left:-7px;
	border-radius: 5px;
	float: left;
	background-color: black;
	color: white;
	text-shadow: 0px 1px 1px black;
	opacity: 0.4;
	display: inline-block;
	margin: 0;
	margin-top: 2px;
	padding-top: 0;
	padding-bottom: 0;
	clear: none;
	height: 14px;
	font-size: 7px;
	line-height: 14px;
	width: 15px;
}

.album-band { height: 13px; overflow: hidden;}
.footer-icon {
	width: 15px;
	float: left;
	height: 100%;
}
.scroll .dropin {
transition-property: all;
transition-duration:0.4s;
-webkit-transition-property: all;
-webkit-transition-duration:0.4s;
-moz-transition-property: all;
-moz-transition-duration:0.4s;
-o-transition-property: all;
-o-transition-duration:0.4s;
	background-color: lightblue;
	border-radius: 4px;
	border-color: black !important;
	border-width: 50px !important;
		padding-left: 5px;

}
.now {
	width: 15px;
	height:15px;
	max-height: 15px;
	margin: 0;
	padding: 0;
	display: none;
	float:left;
}

.lib .savebutton {
	
	background-color: black;
	opacity: 0.5;
	color: white;
	border-radius: 13px;
	padding: 2px;
	font-size: 12px;
	width: 12px;
	text-align: center;
	height: 12px;
	float: left;
	margin-right: 4px;
	margin-top: 2px;
	padding-top: 0;
	line-height: 12px;
}
.lib .current .savebutton {
	line-height: 12px;
	background-color: white;
	opacity: 0.8;
	color: black;
	border-radius: 13px;
	padding: 2px;
	font-size: 12px;
	width: 12px;
	text-align: center;
	height: 12px;
	float: left;
	margin-right: 4px;
	margin-top: 2px;
	padding-top: 0;
}

.lib .savebutton:hover {
	line-height: 12px;
	background-color: whitesmoke;
	opacity: 0.8;
	color: black;
	border-radius: 13px;
	padding: 2px;
	font-size: 12px;
	width: 12px;
	text-align: center;
	height: 12px;
	float: left;
	margin-right: 4px;
	margin-top: 2px;
	padding-top: 0;
}

#song-album {
	position:relative;
	top:0px;
	opacity: 1;
	transition-property: top, opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: top, opacity;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: top, opacity;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-property: top, opacity;
	-o-transition-duration: 1s;
	-o-transition-timing-function: ease-in-out;
}

#song-band {
	position:relative;
	top:0px;
	opacity: 0;
	transition-property: top, opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: top, opacity;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: top, opacity;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-property: top, opacity;
	-o-transition-duration: 1s;
	-o-transition-timing-function: ease-in-out;
}
#displ {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	-webkit-transition-property:  opacity;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property:  opacity;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-property: opacity;
	-o-transition-duration: 1s;
	-o-transition-timing-function: ease-in-out;
}
.track-position { margin: 0; display: table; width: 100%; }
.track-position-bar { }
.track-progress-cell { width: 100%; display: table-cell; }
.track-progress { border: 1px solid #787C66; }
.track-progress-knob {  -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none;  color: black; line-height: 7px; font-size: 17px; height: 10px; margin: 0 100% 0 -5px; display: block; position:relative; left:0%; text-shadow: rgba(0,0,0,1) 0 0 0; }
.track-position-time, .track-position-remaining { display: table-cell; min-width: 40px; text-align: right; padding: 0 5px; margin-top: -2px; }
.track-position-remaining { text-align: left; }

.track-left, .track-right { display: table-cell; height: 100%; vertical-align: middle; text-decoration: none; min-width: 25px; width: 35px; margin-bottom: -20px; text-align: center; }

.track-left a, .track-right a { display: inline-block; width: 11px; height: 11px; color: #EBEFDC; text-decoration: none; font-weight: bold;  }
.track-left img  { width: 7px;
height: 7px;
display: block;
position: relative;
left: 2px;
top: 1px;
 }
 .track-right img { height: 7px; width:7px;
display: block;
position: relative;
left: 2px;
top: 3px;
 }
 
 .pause-blob {
	  height: 20px;
    padding-top: 7px;
    left: -1px;
    position: relative;
 }
 
 .track-left img:hover { opacity: 0.5; }
.track-right span { font-size: 12px; display: block; margin-top: 0; }
.track-left a:active, .track-right a:active { background: #444; }

#s { width: auto; border: 1px solid #5E5E5E; height: 12px; padding: 5px 10px 3px; font-size: 12px; color: #888; font-family: "Lucida Grande"; }

.list { color: #000; margin: 0; padding: 0; display: table; width: 100%; padding-top: 35px; }
.list.group { border-bottom: 1px solid #DDD; background: #FFF; }
.list.group>li { height: 170px; }
.list li { list-style: none; display: table-row; line-height: 17px; width: 100%; }
.list li.selected, .list li:active span { background: #4C95E6; border-color: #4183CA; color: #FFF; }
.list li.head { height: 17px; display: none;}
.list li.head .stub { width: 14px; }
.list li span { display: table-cell; font-size: 11px; padding: 0 6px; border-right: 1px solid #DDD; text-overflow: ellipsis; }
.list li.head span { font-weight: bold; border-color: #C8C8C8; color: #000; }
.list li:nth-child(2n-1) { background: #F4F7FB; }
.list li:nth-child(2n) { background: #FFF; }

.list li.song-group-placer { height: 8px }

/*.list li .song-artwork { min-width: 140px; max-width: 140px; width: 140px; min-height: 180px; background: #F0F0F0; }*/
.list li .song-number { padding: 0 20px 0 10px; text-align: right; min-width: 43px; width: 55px; max-width: 55px; }
.list li .song-name { min-width: 180px; }
.list li .song-time { min-width: 40px; width: 20px; text-align: right; }
.list li .song-artist { min-width: 140px; }
.list li .song-album { min-width: 150px; }
.list li .stub { min-width: 14px; width: 14px; padding: 0; border-left: 1px solid #DDD; }




.list .song-album, .list li .stub { border-right-width: 0; }

/* floats instead of table display */

/*.list { display: block; }
.list li { display: block; float: left; width: 100%; }
.list li span { display: block; float: left; }
.list li .song-number { width: 39px; }
.list li .song-name { width: 199px; }
.list li .song-time { width: 29px; }
.list li .song-artist { width: 179px; }
.list li .song-album { width: 179px; }
.list li .stub { float: right; }
*/

footer { position: absolute; bottom: 0; width: 100%; right: 0; left: 0; padding: 4px 0 2px; text-align: center; -moz-user-select: none; z-index: 1001; border-top: 1px solid #727579; height: 22px; }
.footer-left { float: left; padding-left: 24px; width: 200px; }
.footer-center { line-height: 20px; height: 19px; color: #000; text-shadow: #C4C5C6 0 1px 0; }
.footer-right { float: right; padding-right: 24px; width: 210px; text-align: right; white-space: nowrap; }
.footer-right .btn-footer { display: inline-block; float: none; margin-right: 2px; }
.btn-footer { display: block; float: left; text-decoration: none; color: #000; background: #EEE; padding: 0 10px; border: 1px solid #565759; border-right-width: 0; line-height: 17px; height: 17px; vertical-align: middle; }
.btn-footer span {  text-shadow: #FFF 0 1px 0; height: 17px; line-height: 15px; }
.btn-footer.single { margin-right: 2px; }
.btn-footer.last { border-right-width: 1px; margin-right: 0; }

.btn-footer.add span, .btn-footer.random span, .btn-footer.repeat span { font-size: 16px; font-weight: bold; letter-spacing: -1px; }
.btn-footer.genius span { font-size: 19px; letter-spacing: -1px; }
.btn-footer.on span { color: #0081EC; text-shadow: rgba(0,128,234,0.5) 0 0 4px, #FFF 0 1px 0; }

/* CSS3 Magic */

.btn-footer {
-moz-box-shadow: #B6B6B6 0 1px 0;
-webkit-box-shadow: #B6B6B6 0 1px 0;
background: -moz-linear-gradient(top, #FFF 0%, #EFEFEF 5%, #B4B5B6 100%); 
background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(0.05, #EFEFEF),color-stop(1, #B4B5B6));
}
.btn-footer:hover
{
color: #000;
border-color: #444;
background: -moz-linear-gradient(top, #FFF 0%, #EFEFEF 5%, #C4C5C6 100%); 
background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(0.05, #EFEFEF),color-stop(1, #C4C5C6));
}
.btn-footer:active {
-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.4);
-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.4);
background: -moz-linear-gradient(top, #A4A6A8, #DDD );
}
.btn-footer.single {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-right-width: 1px;
}
.btn-footer.first {
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
}
.btn-footer.last {
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
}

header {
background: -moz-linear-gradient(-90deg, #F3F3F3, #C1C3C5, #9B9EA0);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(243,243,243)),color-stop(0.5, rgb(193,195,197)),color-stop(1, rgb(155,158,160)));
-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0;
-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0;
}

.volume-bar-knob {
-moz-box-shadow: rgba(0,0,0,1) 0 0 2px;
-webkit-box-shadow: rgba(0,0,0,1) 0 0 2px;
background: -moz-linear-gradient(top, #FFF, #AAA);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(1, #AAA));
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.volume-bar {
-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.5), #E1E2E3 0 1px 0;
-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.5), #E1E2E3 0 1px 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}


.display-old {
background: -moz-linear-gradient(top, #EDF0E1 0%, #E7EAD5 47%, #DFE3C7 48%, #EAEDD2 75%, #F6F7E0 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EDF0E1),color-stop(0.47, #E7EAD5),color-stop(0.48, #DFE3C7),color-stop(0.75, #EAEDD2),color-stop(1, #F6F7E0));
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.25), inset 0 -1px 1px rgba(0,0,0,0.1),  #DDD 0 1px 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.25), inset 0 -1px 1px rgba(0,0,0,0.1),  #DDD 0 1px 0;
}
.display {
	background: -moz-linear-gradient(top, #e2e5f0 0%, #dad6eb 47%, #c8c9e3 48%, #d4d3ee 75%, #e7e2f8 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e2e5f0),color-stop(0.47, #dad6eb),color-stop(0.48, #c8c9e3),color-stop(0.75, #d4d3ee),color-stop(1, #e7e2f8));
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.25), inset 0 -1px 1px rgba(0,0,0,0.1),  #DDD 0 1px 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.25), inset 0 -1px 1px rgba(0,0,0,0.1),  #DDD 0 1px 0;
}

#s {
-moz-border-radius: 14px;
-webkit-border-radius: 14px;
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.25), inset 0 -1px 1px rgba(0,0,0,0.1),  #DDD 0 1px 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.25), inset 0 -1px 1px rgba(0,0,0,0.1),  #DDD 0 1px 0;
}

.track-progress-old {
background: -moz-linear-gradient(top, #A5A893 0%, #C2C5B1 100%);
background: -webkit-gradient(linear, 0 top, 0 bottom, color-stop(0, #A5A893), color-stop(1, #C2C5B1));
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.track-progress-bar-old {
background: -moz-linear-gradient(top, #A6A898 0%, #737663 100%);
background: -webkit-gradient(linear,0 top, 0 bottom, color-stop(0, #A6A898), color-stop(1, #737663));
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.track-progress {
/*background: -moz-linear-gradient(top, #9292a8 0%, #b2b2c5 100%);
background: -webkit-gradient(linear, 0 top, 0 bottom, color-stop(0, #A5A893), color-stop(1, #C2C5B1));*/
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.track-progress-bar {
background: -moz-linear-gradient(top, #9998a8 0%, #686375 100%);
background: -webkit-gradient(linear,0 top, 0 bottom, color-stop(0, #A6A898), color-stop(1, #737663));
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

footer {
background: -moz-linear-gradient(-90deg, #DCDDDD 1px, #BDC0C2 1px, #8B8D8C 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DCDDDD), color-stop(0.05, #BDC0C2), color-stop(1, #8B8D8C));
}

footer small {
	position:relative;
	top: -3px;
}

#progressbar {
  background-color: black;
  width: 500px;
  height: 5px;
  border-radius: 4px; /* (height of inner div) / 2 + padding */
  padding: 2px;
  vertical-align: middle;
}
#progressbar div {
   background: -moz-linear-gradient(-90deg, #DCDDDD 1px, #BDC0C2 1px, #AAA 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DCDDDD), color-stop(0.05, #BDC0C2), color-stop(1, #AAA));
   width: 0%; /* Adjust with JavaScript */
   height: 5px;
   -webkit-transition-property: width;
   -webkit-transition-duration: 0.5s;
   -webkit-transition-timing-function: ease-in-out;
   -moz-transition-property: width;
   -moz-transition-duration: 0.5s;
   -moz-transition-timing-function: ease-in-out;
   -o-transition-property: width;
   -o-transition-duration: 0.5s;
   -o-transition-timing-function: ease-in-out;
   transition-property: width;
   transition-duration: 0.5s;
   transition-timing-function: ease-in-out;
   border-radius: 3px;
}

#btn-pause { overflow: hidden;}

a.btn {
background:-moz-radial-gradient(center 30%, circle farthest-side, #FFF 0%, #F5F5F5 40%, #B8BBBE 90%);
-moz-border-radius: 18px;
-moz-box-shadow: #DDD 0 1px 0;
background:-webkit-gradient(radial, 50% 30%, 20, 50% 30%, 3, from(#B8BBBE), to(#FFF), color-stop(60%, #F5F5F5));
-webkit-border-radius: 18px;
-webkit-box-shadow: #DDD 0 1px 0;
}
a.btn.small
{
background:-webkit-gradient(radial, 50% 30%, 17, 50% 30%, 2, from(#B8BBBE), to(#FFF), color-stop(60%, #F5F5F5));
}
a.btn:hover {
background: -moz-radial-gradient(center 30%, circle farthest-side, #FFF 0%, #F5F5F5 50%, #B8BBBE 100%);
background:-webkit-gradient(radial, 50% 30%, 20, 50% 30%, 3, from(#B8BBBE), to(#FFF), color-stop(50%, #F5F5F5));
}
a.btn:active {
background: -moz-radial-gradient(center 45%, circle farthest-side, #CCC 40%, #BBB 60%, #666 100%);
background:-webkit-gradient(radial, 50% 45%, 20, 50% 45%, 0, from(#666), to(#CCC), color-stop(60%, #CCC));
}

#sidebar li.current a {
background: -moz-linear-gradient(top, #5594D2 1px, #6FA6DE 1px, #1D6CBB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5594D2), color-stop(0.06, #6FA6DE), color-stop(1, #1D6CBB));
}

.track-left a, .track-right a {
-webkit-border-radius: 6px;
 -moz-border-radius: 6px;
background: -moz-linear-gradient(top, #82847A 49%, #65675A 50%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0.49, #82847A),color-stop(0.5, #65675A));
}

.list li.head {
background: #FFF;
background: -moz-linear-gradient(top, #FCFCFC 0, #EDEDED 16px, #B9B9B9 17px);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #BEBEBE),color-stop(0.07, #FCFCFC),color-stop(0.92, #EDEDED),color-stop(0.94, #B9B9B9));

}

.cloudsearch {
	width:100% !important;
	
	position: fixed;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0, #e3e3e3),color-stop(0.5, #f0f0f0),color-stop(1, #e3e3e3));
	padding-bottom: 3px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
	height: 25px;
	z-index: 100;
	box-shadow: 2px 1px 3px black;
	overflow: hidden;
}
.cloudsearchfield {
	width: calc(100% - 220px);
	left: 44px;
position: absolute;
-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 0.4s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	-moz-transition-duration: 0.4s;
	
}
.vksearchfield {
	width: calc(100% - 220px);
	left: 100%;
position: absolute;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 0.4s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	-moz-transition-duration: 0.4s;
}
#ssw {
	
    left: 5px;
    display: block;
    position: absolute;
    /* z-index: 10000; */
    top: 16%;

}
.btn-search {
height:100% !important;
width: 8%;
line-height: 20px !important;
display: inline-block !important;
margin-right: 15px !important;
float: right !important;
display: none;
}

.gomennasai {
	background-color: silver;
    padding: 10px;
    margin-top: 50% !important;
    margin-left: 500px;
    top: 50px;
    position: relative;
    font-family: "Lucida Grande", "Helvetica", sans-serif;
    font-size: 50px;
}

.pladdbtn {
	background-color: black;
	opacity: 0.5;
	color: white;
	border-radius: 13px;
	padding: 2px;
	font-size: 12px;
	width: 12px;
	text-align: center;
	height: 12px;
	float: right;
	margin-right: 4px;
	margin-top: 2px;
	padding-top: 0;
	line-height: 12px;
	top: 2px;
	position: relative;	
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
.pladdbtn:hover {
	opacity: 0.8;
}

#sidebar li img.search-icon {
	height: 15px;
	max-height: 20px;
	left: 0;
	top: 2px;
	margin-left: -20px;
	position: relative;
	width: 15px;
	display: block;
	max-width: 20px;
	float: left;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 0.4s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	-moz-transition-duration: 0.4s;
	-webkit-filter: brightness(30%);
	-moz-filter: brightness(30%);
}
#sidebar li.current img.search-icon {
	height: 15px;
	max-height: 20px;
	left: 0;
	top: 2px;
	margin-left: -20px;
	position: relative;
	width: 15px;
	display: block;
	max-width: 20px;
	float: left;
	-webkit-filter: brightness(100%);
	-ms-filter: brightness(100%);
}
.langpick {
    display: inline-block;
    float: right;
    top: 0;
    position: absolute;
}


.radiocopy {
	background-color: gray;
	opacity: 0.5;
	color: white;
	border-radius: 13px;
	padding: 2px !important;
	font-size: 12px !important;
	width: 12px;
	text-align: center;
	height: 12px;
	float: left;
	margin-right: 4px;
	margin-top: 0;
	padding-top: 0;
	line-height: 12px;
	top: 2px;
	position: relative;	
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.radiocopy:hover {
	opacity: 0.8;
}
